* {
  font-family: 'Source Sans Pro', sans-serif;
}

#background {
  margin-top: 5%;
  background-color: #ffffff;
  box-shadow: 25px 15px 30px rgb(169, 166, 166);
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  padding: 20px; 
}

#isi {
  text-align: center;
}

#luar {
  display: flex; 
  justify-content: center;
}

#button,
#cancel {
  margin-top: 10px; 
  margin-bottom: 5%;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer; 
}

#button {
  background-color: skyblue;
}

#cancel {
  background-color: black;
}

.input {
  border-radius: 5px;
  border: none; 
  border-color: black;
  box-shadow: 2px 2px 3px rgb(169, 166, 166); 
}

.tulisan {
  text-align: center;
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: black;
}

#tabel {
  margin: 20px auto; 
  border-collapse: collapse;
  width: 80%;
  background-color: #ffffff;
  border: none;
  box-shadow: 2px 2px 3px rgb(169, 166, 166); 
}
