input{
    border: 1px solid green;
    background-color: lightcyan;
}
body{
    background-color:rgb(255, 224, 253);
    color:green;
    font-size: large;
}
body.hide .registration-data{
    display: none;
}
button{
    background-color: azure;
    border: 2px solid green;
    transition: 0.3s;
    color: green;
    padding: 5px 10px;
}
button:hover{
    background-color: green;
    border: 2px solid lightcyan;
    transition: 0.3s;
    color: lightcyan;
    padding: 5px 10px;
}
.data-table tr, .data-table td,.data-table {
    border: 1px solid green;
    border-collapse: collapse;
}
.data-table td{
    padding :3px;
}
.main{
    font-size: 24px;
    text-align: center;
    color:darkolivegreen;
    font-weight: bold; 
}
.form-table{
    background: aliceblue;
    margin: auto;
}