*{
    margin-top: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
}
body{
    align-items: center;
    background: fixed;
    color: white;
    align-self: start;
    padding: 150px;
}
h1{
 margin-bottom: 10px;
}
[progress]{
    font-size: small;
}
[jawab]{
    border: 20;

    background: wheat;
}
button{
    background : wheat;
    font-weight: 20;
}

